
#outline{
    border-color:  #F0A202;
    border-width: 20px;
    border-style: solid;
    border-radius:10px ;
    background-color:#E6E8E6;
    width: auto;
}
label{
    display: none;
}
input{
    display: none;
}
#price{
    box-sizing: border-box;
    margin: 100px auto 0px auto;
    display: flex;
    width: 70%;
    
    background-color: white;
    border-radius: 50px;
}
.play{
    box-sizing: border-box;
    display: flex;
    margin: 0px 12%;
    width: 20%;
    background-color:;
}
#play{
    margin-left: 10%;
}
#prices{
    margin-left: 0px;
}
.prices{
    box-sizing: border-box;
    width: 100%;
    margin-left: ;
    padding: 0px 20%;
    background-color: 
}
nav{
    background-color: white;
    width: 80%;
    margin: auto;
    padding:1% 0px;
    margin-top: 40px;
    box-sizing: border-box;
    border-radius: 40px;
    
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}
li {
  float: left;
}
li a{
    display: block;
    color:black;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  
}
li a:hover {
background-color:;
}

 #se{
 
    float
    : right;
    padding: 14px 16px;
    border-radius: 60px;background-color:#F0A202 ;
    margin-right: 10px;
    margin-top: 5px;
}

#img{
     margin-left: 25px;
} 
img{
    width: 50%;
   
}
#head{
    background-color: #F0A202;
    text-align: center;
    width: 350px;
    padding: 20px;
    margin-left: 35%;
    margin-top: 80px;
    border-radius: 20px;
    font-size: 40px;
}
#intro{
    text-align: center;
    font-size: 50px;
    
}
#para{
    text-align: center;
    line-height: -1px;
}
main{
   background-color: white;
   width: 50%;
   box-sizing: border-box;
   
   padding-left: 40px;
   padding-right: 80px;
   border-radius: 10px;
}
aside{
    background-color: black;
    width: 40%;
    margin-left: 10%;
    box-sizing: border-box;
     padding-left: 40px;
   padding-right: 80px;
   border-radius: 10px;
   color: white;
   
}
#main{
    width: 80%;
    margin: auto;
    
    display: flex;
    padding-left: 0px;
    box-sizing: border-box;
    margin-top: 150px;
    margin-bottom:100px;
}
.deco{
    text-align: justify;
}
 @media only screen and (max-width:768px){
    
    
    
    #sep{
        margin-left:20px;
        }
        #head{
   
            width: 90%;
            padding: 20px 5px;
            margin:auto;
            
            margin-top: 80px;
            border-radius: 20px;
            font-size: 20px;
            box-sizing:border-box;
        }
        nav{
        padding:0% 0px;
        }

        aside{
            background-color: black;
            width: 90%;
            margin:auto;
            box-sizing: border-box;
            padding:10px 0px;
             padding-left: 20px;
           padding-right: 20px;
           border-radius: 10px;
        
           color: white;
        }
        li a{
  
            padding: 10px 25px;
            
            
          }
          
          
            #se{
                text-align:center;
                padding: 10px 0px;
                border-radius: 60px;background-color:#F0A202 ;
                width:150px;
                margin:0px;
              float: none;
            }
            
            
        main{
  
    
            width: 90%;
            
            box-sizing: border-box;
            padding:5px 0px;
            margin:30px auto;
            
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 10px;
            
         }
         #main{
            display: flex;
            flex-direction: column;
            width: auto;
            padding: 0px;
            margin: 0px;
            box-sizing: none;
        }
        .play{
            display: flex;
            margin-left: 15%;
            width: 50%;
            

        }
        #price{
            display: flex;
            flex-direction:row;
            width: 80%;
            overflow: scroll;
            margin: auto;
        }
        #prices{
            margin-left: 0px;
            padding-left: 0px;
        }
        .prices{
            width: ;
            margin-left: 0%;
            margin-right: 0%;
        }
         img{
            display: none;
         }
         
    #se{
        
        padding: 10px 5px;
        text-align: center;
        
        margin: 40px 0px 5px 200px;
        width: 100px;
        background-color: #F0A202;
        height: auto;
    }  
}
@media only  screen and (max-width:480px){
li{
float:none;
}
li a{
    text-align: left;
}
#se{
float:none;
margin:0px 0px 0px 5%;
}
.play{
flex-direction:column;
margin-left:;
margin-left: 5%;
}
#
#play{
    margin-left: 0px;
}

.prices{
margin-left:10px;
}
#price{
   margin:   50px auto 0px auto;
   width: 80%;
}
li a:hover {   
 background-color:black;
  color:white;
 }
 nav{
    display: none;
 padding:5% 0px;
 max-height: 0px;
 overflow: hidden;
margin-top: 0px;
padding-top:0px;
background: #e6e8e6; 
}
label{
    color: black;
    display: block;
    padding: 10px 0px 10px 50px;
    font-size: 46px;
    
    background: url(list.png) no-repeat left ;
    background-size:30px 40px ;
    background-position: 10px;

    
   
}
#pri1{
     margin-left: 0px;
            padding-left: 0px;
}
input:checked ~ label{background: url(close.svg) no-repeat left;
    background-size: 40px 40px;
    background-position: 10px;
}

input:checked ~ nav{
    display: block;
    max-height: 100%;
    margin-top: 0px;
    padding-top: 0px;
    background-color: white;
    width: 100%;
    border-radius: 0px;
    padding-left: 0px;
}
 #in{
    display: none;
 }
 #try{
    display: block;
    
 }
    
}