
#outline{
    border-color:  #F0A202;
    border-width: 20px;
    border-style: solid;
    border-radius:10px ;
    background-color:#E6E8E6;
    width: auto;
}
#price{
    display: flex;
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 20px 0px;
    border-radius: 11px;
    margin-top: 100px;
}
.prices{
    line-height:0.01;
    margin-left: 15%;
    
}
nav{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 40px 0px;
}
img{
    width: 30%;
    float: left;
}
#head{
    background-color: #F0A202;
    text-align: center;
    width: 350px;
    padding: 20px;
    margin-left: 35%;
    margin-top: 80px;
    border-radius: 20px;
    font-size: 40px;
}
#intro{
    text-align: center;
    font-size: 50px;
    
}
#para{
    text-align: center;
    line-height: -1px;
}
main{
    width: 400px;
    background-color: white;
    
    padding:10px 0px ;
    margin-top: 70px ;
    margin-left: 50px;
}
aside{
 width: 300px;
 
    background-color: white;
    
    padding:10px 0px ;
    margin-top: 70px ;
    margin-right: 50px;
    margin-left: 20px;
}
#main{
    width: 80%;
    margin: auto;
    background-color: red;
    display: flex;
}
